{{define "nav"}}
<div class="nav" id="nav">
    <div class="menuButt" onclick="toggleMenu()">
        <div class="innerMenuButt"></div>
        <div class="innerMenuButt"></div>
        <div class="innerMenuButt"></div>
    </div>
</div>
<style>{{template "nav_css" .}}</style>
{{end}}
