<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
  {{template "head" . }}                                    
  <body>
    {{template "dropdown" . }}
    {{template "bigimg" .}}
    {{template "article" .}}
    {{template "ticker" .}}
  </body>
</html>
