{{define "bigimg"}}
<div class="mainOuter">
  <div class="main">
    <div class="mainImg" id="mainImg"></div>
    <div class="mainInfo">
      <div class="articleTitleMain" id="articleTitleMain"></div>
      <div class="datePublishedMain" id="datePublishedMain"></div>
      <div class="articleAuthorMain" id="articleAuthorMain"></div>
    </div>
  </div>
</div>
<style>{{template "bigimg_css" .}}</style>
<script>{{template "bigimg_js" .}}</script>
{{end}}
