{{define "footer"}}
<div class="footer">
  <div class="footerText">{{.WebsiteName}}</div>
  <!-- <div class="social"> -->
  <!--    <ul> -->
  <!--      <li><img src="../../public/assets/instagram.png"/></li> -->
  <!--      <li><img src="../../public/assets/facebook.png"/></li> -->
  <!--    </ul> -->
  <!-- </div> -->
</div>

<style>
.footer {
padding: 7%;
    max-width: 100vw;
    letter-spacing: 3;
    font-size: 1.2em;
    color: #776503;
    background: #f3d737;
    /* box-shadow: inset 0px 0px 37px 3px rgba(0,0,0,1); */
    font-family: 'Castoro', serif;
    font-weight: bold;
    bottom: 2em;
    left: 0;
    position: absolute;
    border-top: 5px solid #2c8ba7;
}
</style>
{{end}}
