{{ define "head" }}
<head>
  <title>[ U N S O U R C E D ]</title>
  <link rel='shortcut icon' type='image/x-icon' href='/public/assets/globe.png' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="settings" content="use_css,no_foldcolumn,expand_tabs,prevent_copy=,use_input_for_pc=fallback">
</head>
<style>
{{ .CSS }}
</style>
<script>
  {{ .JS }}
</script>
{{ end }}


